*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: 400;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* RESET END */

body {
  background: #eee;
  font-family: 'Rubik', sans-serif;
  height: 100%;
}
